@import "../../../styles/vars.scss";

.MuiButton-contained {
  background-color: map-get($colors, grayShade2);
  &:hover {
    background-color: map-get($colors, darkGray);
    color: white;
  }
  border-radius: 15px;
}
