$colors: (
  black: #242424,
  darkGray: #484848,
  lightGray: #969696,
  orangeShade1: #ef5c19,
  orangeShade2: #ff8f15,
  orangeShade3: #ffb340,
  white: #ffffff,
  grayShade1: #fff5eb,
  grayShade2: #efe6e7,
  grayShade3: #fcfbfb,
);

$fonts: (
  Montserrat: "Montserrat",
);
